header {
    text-align: center;
    background-color: red;
    color: white;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1.4rem;
    border-radius: 30px;
}
h2 {
    text-align: center;
    margin: 10%;
    margin-bottom: 0;
}
p {
    text-align: center;
}
@media (max-width: 500px){
    header{
        margin-left: 10%;
        margin-right: 10%;
    }
}